Chipotle

In [ ]:
import pandas as pd
import numpy as np

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle_data = pd.read_csv(url, sep='\t')

Step 4. See the first 10 entries

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle_data = pd.read_csv(url, sep='\t')
chipotle_data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle_data = pd.read_csv(url, sep='\t')
num_observ = chipotle_data.shape[0]
print(num_observ)

4622

Step 6. What is the number of columns in the dataset?

In [ ]:
num_col = chipotle_data.shape[1]
print(num_col)

5

Step 7. Print the name of all the columns.

In [ ]:
col_index = chipotle_data.columns
print(col_index)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8. How is the dataset indexed?

In [ ]:
data_index = chipotle_data.index
print(data_index)

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [ ]:
item_quantity = chipotle_data.groupby('item_name')['quantity'].sum()
most_ordered_item = item_quantity.idxmax()
max_quantity = item_quantity.max()

print("Most-ordered item:", most_ordered_item)
print("Quantity ordered:", max_quantity)

Most-ordered item: Chicken Bowl
Quantity ordered: 761

Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
item_quantity = chipotle_data.groupby('item_name')['quantity'].sum()
most_ordered_item = item_quantity.idxmax()
max_quantity = item_quantity.max()

print("Most-ordered item:", most_ordered_item)
print("Quantity ordered:", max_quantity)

Most-ordered item: Chicken Bowl
Quantity ordered: 761